<html>
<head>
    <title>AT01</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body ng-app="config">
    <div class="tree-container" ng-controller="TreeController as ctrl">
        <a href ng-click="openFirstNode()">Load Tree!</a>
        <config-tree config="config" on-expand="expandChildren()" on-add="addChildren()"></config-tree>
    </div>
    <script type="text/javascript" src="/static/bower/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-recursion.js"></script>
    <script type="text/javascript" src="/static/js/config-service.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>